<ion-view title="Login">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="Contrasena">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="9">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-stable button-block ">Ingresar</button>
            <a menu-close="" class="button button-positive button-clear button-block ">O crear una cuenta</a>
        </form>
    </ion-content>
</ion-view>