<ion-view title="Page">
    <ion-content padding="'true'" class="has-header">
        <button class="button button-balanced button-block ">NACHO</button>
        <button class="button button-assertive button-block ">ROJITO</button>
        <button class="button button-positive button-block ">AZULITO</button>
        <button class="button button-dark button-block ">BLANCO SE VE</button>
        <button class="button button-light button-block ">LIVIANO</button>
        <button class="button button-royal button-block ">ROYAL</button>
        <button class="button button-energized button-block ">TAXI CAB</button>
        <button class="button button-calm button-block ">CALMADO</button>
        <button class="button button-stable button-block ">STABLE</button>
    </ion-content>
</ion-view>