<!DOCTYPE html>
<html ng-app="lab1b">
<head>
	<title>Refuerzo Modulo 3</title>
	<meta charset="utf-8" />
	<script type="text/javascript" src="../assets/angular.min.js"></script>
    <script type="text/javascript" src="js/lab1b.js"></script>
</head>
<body>
	<div ng-controller="lab1bController">
		<h1>Refuerzo Modulo 3-b</h1>
		<ul>Filtros
			<li ng-repeat="filtro in angular_filters"> {{filtro}}</li>
		</ul>
		<ul>Inputs
			<li ng-repeat="input in angular_input"> {{input}}</li>
		</ul>
	</div>
</body>
</html>